@page
@{
    @using System.Reflection

    <html>
<head>
    <style>
        table.table-columns td {
            padding-left: 5px;
            padding-right: 15px;
        }
        table.table-columns th {
            padding-left: 5px;
            padding-right: 15px;
        }
    </style>
</head>
    <body>
        <table class="table-columns">
            <tr>
                @foreach (var column in ViewBag.Columns)
                {
                    <th>@column.Replace("Name","").Replace("Id","")</th>
                }
            </tr>
            @foreach (var info in ViewBag.InfoList)
            {
                <tr onclick="location.href="@ViewBag.Section/@((info.GetType().GetProperties() as PropertyInfo[]).Where(pr => pr.Name.Contains(ViewBag.Section + "Id")).FirstOrDefault().GetValue(info, null))"">
                    @foreach (var prop in info.GetType().GetProperties())
                    {
                        @if (ViewBag.Columns.Contains(prop.Name))
                        {
                            <td>@prop.GetValue(info, null)</td>
                        }
                    }
                </tr>
            }
        </table>
    </body>
</html>
}
